<div class="main-content">
  <h2 class="text-center my-3 py-3 h2">Review Order</h2>
  <div class="section-content section-content-p30">
    <div class="row">
      @if (orderPurchaseError) {
        <div class="alert alert-warning fs-4">
          <p>There was an error submitting your order</p>
          <p>{{ orderPurchaseError }}</p>
        </div>
      }

      <table class="table table-striped table-bordered table-group-divider">
        <thead class="table-primary">
        <tr class="row">
          <th class="col-3">Product</th>
          <th class="col-9">Details</th>
        </tr>
        </thead>
        <tbody>
          @for (item of cartItems | keyvalue; track item.key) {
            <tr class="row">
              <td class="col-3">
                <img src="{{item.value.imageUrl}}" class="img-responsive" width="75%">
              </td>
              <td class="col-6">
                <p>Item: {{ item.value.name }}</p>
                <p>Price: {{ item.value.price }}</p>
              </td>
              <td class="col-3">
                <p>Quantity: {{ item.value.quantity }}</p>
                <p>SubTotal: {{ item.value.quantity * item.value.price | currency: "USD" }}</p>
              </td>
            </tr>
          }
          @for (group of reviewGroups; track group) {
            <tr class="row">
              <th class="fw-bold text-center">{{ group | keyFormatPipe }}</th>
            </tr>
            @for (info of userData[group] | keyvalue; track info.key) {
              <tr class="row">
                <td class="col-6 fw-bold">{{ info.key  | keyFormatPipe }}:</td>
                @if (info.key == "country") {
                  <td class="col-6">{{ userData[group].country.name }}</td>
                } @else if (info.key == "state") {
                  <td class="col-6">{{ userData[group].state.name }}</td>
                } @else {
                  <td class="col-6">{{ info.value }}</td>
                }
              </tr>
            }
          }
        </tbody>
        <tfoot>
        <tr class="row">
          <td class="col-9"></td>
          <td class="col-3">
            <p>Total Items: {{ cartQuantity }}</p>
            <p>Shipping: FREE</p>
            <p>Total Cost: {{ cartTotal | currency }}</p>
            <button class="btn btn-primary" (click)="submitPurchase()">Purchase</button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
