<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section-content section-content-p30 w-75">
    <div
      class="container-fluid d-flex flex-wrap flex-lg-nowrap justify-content-center align-items-center text-center text-md-left">
      @if (product) {
        <img src={{product.imageUrl}} class="img-responsive" width="300">
        <div>
          <h3 class="m-2 p-2">{{ product.name }}</h3>
          <p class="price p-2 m-2">{{ product.unitPrice | currency:"USD" }}</p>
          <a href="shopping-detail.html" class="primary-btn m-2">Add to cart</a>

          <h4 class="m-2 p-2">Product Description</h4>
          <p class="m-2 p-2">{{ product.description }}</p>
          <app-history></app-history>
        </div>

      } @else {
        <div class="alert alert-warning" role="alert">
          <p>No Product Information</p>
        </div>
      }
    </div>
  </div>
</div>
<!-- END PAGE CONTAINER-->
