<div class="main-content">
  <h2 class="text-center my-3 py-3 h2">{{ keyword ? "Search: " + keyword : categoryName }}</h2>
  <div class="section-content section-content-p30">
    <div class="row">
      @if (productsPage!.products!.length) {

        @for (product of productsPage!.products; track product.id) {
          <div class="col-3 card bg-transparent border-0">
            <div class="text-center ">
              <a routerLink="/products/{{product.id}}">
                <img src="{{ product.imageUrl}}" alt="" class="card-img-top img-responsive">
              </a>
              <div class="product-box card-body">
                <a routerLink="/products/{{product.id}}" class="card-title"><h1>{{ product.name }}</h1></a>
                <div class="price">{{ product.unitPrice | currency: 'USD' }}</div>
                <a href="#" class="primary-btn">Add to cart</a>
              </div>
            </div>
          </div>
        }
      } @else {
        <div class="alert alert-warning" role="alert">
          <p>No products found.</p>
          <app-history></app-history>
        </div>
      }

      <div class="footer-pagination my-3">

        <div class="row d-flex justify-content-end">
          <div class="col-10">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="productsPage.page.totalElements"
                            [page]="productsPage.page.number + 1"
                            [boundaryLinks]="true" [pageSize]="productsPage.page.size"
                            (pageChange)="updatePage($event)" [ellipses]="true" [maxSize]="3"
                            aria-label="Product results page"></ngb-pagination>
          </div>

          <div class="col-2">
            <div class="form-floating">
              <select id="pageSizeSelect" class="form-select" aria-label="page size select" #pageSizeSelect
                      (change)="updatePageSize(pageSizeSelect.value)">
                <option value="5" selected=true>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
              </select>
              <label for="pageSizeSelect" class="form-label">Page Size</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







