<div class="main-content">
  <h2 class="text-center my-3 py-3 h2">Shopping Cart</h2>
  <div class="section-content section-content-p30">
    @if (cartItems.size > 0) {

      <table class="table table-striped table-bordered table-group-divider">
        <thead class="table-primary">
        <tr class="row">
          <th class="col-3">Product</th>
          <th class="col-9">Details</th>
        </tr>
        </thead>
        <tbody>
          @for (item of cartItems | keyvalue; track item.key) {
            <tr class="row">
              <td class="col-3">
                <img src="{{item.value.imageUrl}}" class="img-responsive" width="75%">
              </td>
              <td class="col-6">
                <p>Item: {{ item.value.name }}</p>
                <p>Price: {{ item.value.price }}</p>
              </td>
              <td class="col-3">
                <p>Quantity: {{ item.value.quantity }}</p>
                <p>SubTotal: {{ item.value.quantity * item.value.price | currency: "USD" }}</p>
              </td>
            </tr>
          }
        </tbody>
        <tfoot>
        <tr class="row">
          <td class="col-9"></td>
          <td class="col-3">
            <p>Total Items: {{ cartQuantity }}</p>
            <p>Shipping: FREE</p>
            <p>Total Items: {{ cartTotalCost }}</p>
            <a class="btn btn-primary" routerLink="/checkout">Checkout</a>
          </td>
        </tr>
        </tfoot>
      </table>
    } @else {
      <div class="alert alert-warning" role="alert">
        <p>Shopping Cart is Empty</p>
      </div>
    }
  </div>
</div>


