<div class="main-content">
  <h2 class="text-center my-3 py-3 h2">Shopping Cart</h2>
  <div class="section-content section-content-p30">
    <div class="row">

      <form [formGroup]="checkoutForm" (ngSubmit)="submitForm()">

        <div class="form-area" formGroupName="customer">
          <h3>Customer</h3>
          <div>
            <label for="firstName" class="form-label fw-bold">First Name</label>
            <input id="firstName" class="form-control au-input input-space" type="text" formControlName="firstName">
          </div>
          @if (firstName.invalid && (firstName.dirty || !firstName.untouched)) {
            <div class="alert alert-danger">
              @if (firstName.errors.required) {
                <p> First Name is required</p>
              } @else if (firstName.errors.minlength || firstName.errors.noWhitespace) {
                <p>First Name must be at least 2 characters long</p>
              }
            </div>
          }

          <div>
            <label for="lastName" class="form-label fw-bold">Last Name</label>
            <input id="lastName" class="form-control au-input input-space" type="text" formControlName="lastName">
          </div>
          @if (lastName.invalid && (lastName.dirty || !lastName.untouched)) {
            <div class="alert alert-danger">
              @if (lastName.errors.required) {
                <p> Last Name is required</p>
              } @else if (lastName.errors.minlength || lastName.errors.noWhitespace) {
                <p>Last Name must be at least 2 characters long</p>
              }
            </div>
          }

          <div>
            <label for="email" class="form-label fw-bold">Email</label>
            <div class="input-group input-space">
              <input id="email" class="form-control au-input" type="email" formControlName="email">
              <span class="input-group-text text-bg-primary"> &#64; </span>
            </div>
          </div>
          @if (email.invalid && (email.dirty || !email.untouched)) {
            <div class="alert alert-danger">
              @if (email.errors.required) {
                <p>Email address required</p>
              }
              @if (email.errors.pattern) {
                <p>Invalid email format</p>
              }
            </div>
          }
        </div>

        <div class="form-area" formGroupName="shippingAddress">
          <h3>Shipping</h3>
          <div>
            <label for="shippingCountry" class="form-label fw-bold">Country</label>
            <select id="shippingCountry" class="form-select input-space" formControlName="country"
                    (change)="getCountryStates('shippingAddress')">
              @for (country of countries; track country.id) {
                <option [ngValue]="country" value="{{country}}">{{ country.name }}</option>
              }
            </select>
          </div>
          @if (shippingCountry.invalid && (shippingCountry.dirty || !shippingCountry.untouched)) {
            <div class="alert alert-danger">
              @if (shippingCountry.errors.required) {
                <p> Please select a country</p>
              }
            </div>
          }

          <div>
            <label for="shippingState" class="form-label fw-bold">State</label>
            <select id="shippingState" class="form-select input-space" formControlName="state">
              @for (state of states["shippingAddress"]; track state.id) {
                <option [ngValue]="state">{{ state.name }}</option>
              }
            </select>
          </div>
          @if (shippingState.invalid && (shippingState.dirty || !shippingState.untouched)) {
            <div class="alert alert-danger">
              @if (shippingState.errors.required) {
                <p> Please select a state</p>
              }
            </div>
          }

          <div>
            <label for="shippingStreetAddress" class="form-label fw-bold">Street Address</label>
            <input id="shippingStreetAddress" class="form-control au-input input-space" type="text"
                   formControlName="streetAddress">
          </div>
          @if (shippingStreet.invalid && (shippingStreet.dirty || !shippingStreet.untouched)) {
            <div class="alert alert-danger">
              @if (shippingStreet.errors.required) {
                <p> Please enter a street address</p>
              } @else if (shippingStreet.errors.minlength || shippingStreet.errors.noWhitespace) {
                <p> Please enter at least 2 characters</p>
              }
            </div>
          }

          <div>
            <label for="shippingCity" class="form-label fw-bold">City</label>
            <input id="shippingCity" class="form-control au-input input-space" type="text" formControlName="city">
          </div>
          @if (shippingCity.invalid && (shippingCity.dirty || !shippingCity.untouched)) {
            <div class="alert alert-danger">
              @if (shippingCity.errors.required) {
                <p> Please enter a city</p>
              } @else if (shippingCity.errors.minlength || shippingCity.errors.noWhitespace) {
                <p> Please enter at least 2 characters</p>
              }
            </div>
          }

          <div>
            <label for="shippingZipCode" class="form-label fw-bold">Zip Code</label>
            <input id="shippingZipCode" class="form-control au-input input-space" type="text"
                   formControlName="zipCode">
          </div>
          @if (shippingZip.invalid && (shippingZip.dirty || !shippingZip.untouched)) {
            <div class="alert alert-danger">
              @if (shippingZip.errors.required) {
                <p> Please enter a valid zipcode</p>
              } @else if (shippingZip.errors.minlength || shippingZip.errors.noWhitespace) {
                <p> Please enter at least 2 characters</p>
              }
            </div>
          }
        </div>

        <div class="py-3">
          <label for="billingSameAsShipping" class="form-label fw-bold">Billing address same as shipping</label>
          <input id="billingSameAsShipping" class="form-check-input au-checkbox input-space" type="checkbox"
                 [formControl]="billingSameAsShipping" (change)="setBillingSameAsShipping()">
        </div>

        <div class="form-area" formGroupName="billingAddress">
          <h3>Billing</h3>
          <div>
            <label for="billingCountry" class="form-label fw-bold">Country</label>
            <select id="billingCountry" class="form-select input-space" formControlName="country"
                    (change)="getCountryStates('billingAddress')">
              @for (country of countries; track country.id) {
                <option [ngValue]="country">{{ country.name }}</option>
              }
            </select>
          </div>
          @if (billingCountry.invalid && (billingCountry.dirty || !billingCountry.untouched)) {
            <div class="alert alert-danger">
              @if (billingCountry.errors.required) {
                <p> Please select a country</p>
              }
            </div>
          }

          <div>
            <label for="billingState" class="form-label fw-bold">State</label>
            <select id="billingState" class="form-select au-input input-space" formControlName="state">
              @for (state of states["billingAddress"]; track state.id) {
                <option [ngValue]="state">{{ state.name }}</option>
              }
            </select>
          </div>
          @if (billingState.invalid && (billingState.dirty || !billingState.untouched)) {
            <div class="alert alert-danger">
              @if (billingState.errors.required) {
                <p> Please select a state</p>
              }
            </div>
          }

          <div>
            <label for="billingStreetAddress" class="form-label fw-bold">Street Address</label>
            <input id="billingStreetAddress" class="form-control au-input input-space" type="text"
                   formControlName="streetAddress">
          </div>
          @if (billingStreet.invalid && (billingStreet.dirty || !billingStreet.untouched)) {
            <div class="alert alert-danger">
              @if (billingStreet.errors.required) {
                <p> Please enter a street address</p>
              } @else if (billingStreet.errors.minlength || billingStreet.errors.noWhitespace) {
                <p> Please enter at least 2 characters</p>
              }
            </div>
          }

          <div>
            <label for="billingCity" class="form-label fw-bold">City</label>
            <input id="billingCity" class="form-control au-input input-space" type="text" formControlName="city">
          </div>
          @if (billingCity.invalid && (billingCity.dirty || !billingCity.untouched)) {
            <div class="alert alert-danger">
              @if (billingCity.errors.required) {
                <p> Please enter a city</p>
              } @else if (billingCity.errors.minlength || billingCity.errors.noWhitespace) {
                <p> Please enter at least 2 characters</p>
              }
            </div>
          }

          <div>
            <label for="billingZipCode" class="form-label fw-bold">Zip Code</label>
            <input id="billingZipCode" class="form-control au-input input-space" type="text"
                   formControlName="zipCode">
          </div>
          @if (billingZip.invalid && (billingZip.dirty || !billingZip.untouched)) {
            <div class="alert alert-danger">
              @if (billingZip.errors.required) {
                <p> Please enter a valid zipcode</p>
              } @else if (billingZip.errors.minlength || billingZip.errors.noWhitespace) {
                <p> Please enter at least 2 characters</p>
              }
            </div>
          }
        </div>

        <div class="form-area" formGroupName="creditCard">
          <h3>Credit Card</h3>
          <div>
            <label for="cardType" class="form-label fw-bold">Card Type</label>
            <input id="cardType" class="form-control au-input input-space" type="text" formControlName="cardType">
          </div>
          @if (cardType.invalid && (cardType.dirty || !cardType.untouched)) {
            <div class="alert alert-danger">
              @if (cardType.errors.required) {
                <p> Please select a card</p>
              }
            </div>
          }

          <div>
            <label for="cardholderName" class="form-label fw-bold">Name on Card</label>
            <input id="cardholderName" class="form-control au-input input-space" type="text"
                   formControlName="cardholderName">
          </div>
          @if (cardholderName.invalid && (cardholderName.dirty || !cardholderName.untouched)) {
            <div class="alert alert-danger">
              @if (cardholderName.errors.required) {
                <p> Cardholder name is required</p>
              } @else if (cardholderName.errors.minlength || cardholderName.errors.noWhitespace) {
                <p> Please enter at least 2 characters</p>
              }
            </div>
          }

          <div>
            <label for="cardNumber" class="form-label fw-bold">Card Number</label>
            <input id="cardNumber" class="form-control au-input input-space" type="number"
                   formControlName="cardNumber">
          </div>
          @if (cardNumber.invalid && (cardNumber.dirty || !cardNumber.untouched)) {
            <div class="alert alert-danger">
              @if (cardNumber.errors.required) {
                <p> Credit card number is required</p>
              } @else if (cardNumber.errors.pattern) {
                <p> Credit card number must be 16 digits</p>
              }
            </div>
          }

          <div>
            <label for="secCode" class="form-label fw-bold">Security Code</label>
            <input id="secCode" class="form-control au-input input-space" type="text" formControlName="secCode">
          </div>
          @if (secCode.invalid && (secCode.dirty || !secCode.untouched)) {
            <div class="alert alert-danger">
              @if (secCode.errors.required) {
                <p> Please enter the security code</p>
              } @else if (secCode.errors.pattern) {
                <p> Security code must be 3 digits</p>
              }
            </div>
          }

          <div>
            <label for="expMonth" class="form-label fw-bold">Expiration Month</label>
            <select id="expMonth" class="form-select input-space" formControlName="expMonth">
              @for (month of ccMonths; track month) {
                <option [ngValue]="month">{{ month }}</option>
              }
            </select>
          </div>
          @if (expMonth.invalid && (expMonth.dirty || !expMonth.untouched)) {
            <div class="alert alert-danger">
              @if (expMonth.errors.required) {
                <p> Please select a month</p>
              }
            </div>
          }

          <div>
            <label for="expYear" class="form-label fw-bold">Expiration Year</label>
            <select id="expYear" class="form-select input-space" formControlName="expYear"
                    (change)="handleMonthsAndYears()">
              @for (year of ccYears; track year) {
                <option [ngValue]="year">{{ year }}</option>
              }
            </select>
          </div>
          @if (expYear.invalid && (expYear.dirty || !expYear.untouched)) {
            <div class="alert alert-danger">
              @if (expYear.errors.required) {
                <p> Please select a year</p>
              }
            </div>
          }

        </div>
        <button class="btn btn-primary" type="submit">Review Order</button>
      </form>
    </div>
  </div>
</div>
